body {
  background-color: #CACACA;  
}

header {
  padding-bottom: 150px;
}

.navbar {
  margin-left: 200px;

}

.navbar li {
  float: left;
  display: inline-block;
  padding: 10px;
  background-color: #EBEBEB;
}

.navbar li a {
  text-decoration: none;
  color: #115353;
  font-family: verdana;
}

.navbar li a:hover {
  color: red;
}

h1, h2 {
  font-family: verdana, sans-serif;
}

.allh1 {
  display: block;
}

.container1 {
  padding: 3px;
  background-color: #EBEBEB;
  border-radius: 10px;
}

#logo {
  padding-top: 30px;
  margin-left: 450px;
}

#firstday {
  padding: 20px;
  font-family: arial; 
}

#firstday a {
  color: #115353;
}

#firstday a:hover {
  color: red;
}

footer {
  padding-top: 20px;
}
